@import url('config.css');

body {
    background-color: var(--cor-cinza);
    color: var(--cor-preto);
    font-family: 'Dosis', sans-serif;
}

/* Cabeçalho */
header {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    box-shadow: 0 4px 8px var(--cor-preto);;
}

header nav a {
    color: var(--cor-branco);
    text-decoration: none;
    font-weight: 600;
    padding: 32px;
}

/* Main Container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
}

/* Cards */
.card {
    text-align: center;
    width: 350px;
    border-radius: 10px;
    background-color: var(--cor-branco);
    box-shadow: 0 4px 8px var(--cor-preto);;
    position: relative;
    line-height: 1.5;
    padding-bottom: 15px;
}

.card img {
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    transition: opacity 0.4s ease;
}

/* Imagens Main e Hover */
.card .img-hover {
    position: absolute;
    transition: 1s;
    top: 0;
    left: 0;
    opacity: 0;
    /* --> Deixa a imagem escondida */
}

.card:hover .img-hover {
    opacity: 1;
    /* --> Faz a imagem aparecer quando o mouse passa por cima */
}

.card:hover .img-main {
    opacity: 0;
    /* --> Deixa a imagem escondida quando o mouse passa por cima */
}

.content {
    padding: 5px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* O Conteúdo do Card */
.content p {
    color: var(--cor-cinzaEscuro);
    font-size: 1.2rem;
    font-weight: 400;
}

.content span {
    font-size: 1.4rem;
    font-weight: 600;
}

/* Botão */
button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-bottom: 40px;
    transform: translateX(-50%);
    background-color: var(--cor-btnLaranja);
    color: var(--cor-branco);
    border: none;
    border-radius: 1.6rem;
    width: 300px;
    height: 55px;
    padding: 10px 20px;
    opacity: 0;
    /* Deixa o botão escondido */
    transition: 1s;
}

button:hover {
    background-color: var(--cor-btnVerde);
}

button a {
    color: var(--cor-branco);
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.card:hover button {
    opacity: 1;
    /* Faz o botão aparecer quando o mouse passa por cima */
}

/* Camada de Desfoque(ou Blur) */
.blur {
    backdrop-filter: blur(5px);
    background: var(--blur);
    width: 100%;
    height: 45%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: -1px;
    position: absolute;
    transition: 1s;
    opacity: 0;
    /* --> Deixa o desfoque escondido */
}

.card:hover .blur {
    opacity: 1;
    /* --> Faz o desfoque aparecer quando o mouse passa por cima */
}

/* Rodapé */
footer {
    text-align: center;
    color: var(--cor-branco);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--cor-laranja);
    padding: 20px;
    width: 100%;
    font-size: 1.5em;
}

footer a {
    color: var(--cor-branco);
}

/* ----------------------------------------------------------------------------------------------- */
/* Media Query CELULARES*/

@media (max-width: 768px) {

    /* Cabeçalho */
    header {
        font-size: 1.3em;
        padding: 14px 20px;
    }

    header img {
        width: 75px;
        height: 25px;
    }

    header h1 {
        font-size: 18px;
        padding: 0 20px;
    }

    header nav a {
        padding: 0px 10px 0px 0px;
        font-size: 9px;
        font-weight: 500;
        display: flex;
    }

    /* Cards */
    .card {
        width: 150px;
    }

    .card img {
        width: 150px;
    }

    .card .content h2 {
        font-size: 1em;
        padding: 0 10px;
    }

    .card .content span {
        font-size: 0.8em;
    }

    .card .content p {
        font-size: 0.6em;
    }

    .card button {
        width: 125px;
        height: 40px;
    }

    .card button a {
        font-size: 10px;
    }

    .blur {
        height: 50%;
    }

    /* Rodapé */
    footer {
        font-size: 0.8em;
    }
}

/* ----------------------------------------------------------------------------------------------- */
/* Media Query TABLETS/ CELULARES DEITADOS*/
@media (min-width: 769px) and (max-width: 1023px) {
    header {
        padding: 20px;
    }

    header h1 {
        padding: 0 20px;
    }

    header nav a {
        padding: 0px 10px 0px 0px;
        font-weight: 500;
        display: flex;
    }
}

/* ----------------------------------------------------------------------------------------------- */
/* Media Query LAPTOPS ou telas maiores*/
@media (min-width: 1024px) {
    header h1 {
        padding: 0 20px;
    }

    header nav a {
        padding: 0px 10px 0px 0px;
        font-weight: 500;
        display: flex;
    }
}